
#contact-form {
  position: relative;
  padding-top: 26px;
}
#contact-form label {
  display: block;
  position: relative;
  display: inline-block;
  padding-right: 37px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 74px;
}
#contact-form input[type='text'] {
  width: 100%;
  border-radius: 4px;
  line-height: 24px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 20px 5px;
  outline: none;
  color: #363535;
  height: 40px;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background-color: #a6bdd7;
}
#contact-form textarea {
  width: 100%;
  line-height: 24px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 20px 5px;
  outline: none;
  border: 1px solid #000;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  color: #363535;
  height: 202px;
  background-color: #a6bdd7;
}



